In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 1. World happiness report

#### (a) Regions

In [2]:
df_whr = pd.read_csv('world_happiness_report.csv')
df_rg = pd.read_csv('region.csv')
df_rg.rename(columns={'name': 'Country name'}, inplace=True)

In [3]:
df = pd.merge(df_whr,df_rg[['Country name','region']],on='Country name', how='left')
df.columns

Index(['Country name', 'year', 'Life Ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect',
       'region'],
      dtype='object')

#### (b) Life-expectancy

In [10]:
df.groupby(['region', 'year'])['Healthy life expectancy at birth'].aggregate('mean').unstack()

year,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
region,,,,,,,,,,,,,,,,
Africa,59.700000,47.149091,48.010476,49.740769,51.669091,52.576000,53.174444,54.541935,54.055000,54.698857,54.848485,55.494444,56.044737,57.156757,57.524324,59.031250
Americas,66.550000,64.386667,65.096190,64.544545,66.068000,64.642857,64.980000,65.286364,65.722609,66.061739,66.614286,66.828571,66.891304,67.335000,68.023810,68.300000
Asia,63.371429,63.132308,62.586207,62.742424,63.537838,63.835135,63.745854,63.408500,63.836500,64.179487,64.263415,64.708333,64.900000,65.268421,65.700000,66.391667
Europe,69.164286,66.280000,66.657600,68.382727,67.831111,68.446875,68.469412,68.975676,68.957714,69.243889,69.527027,69.794595,70.062162,70.255556,70.591667,71.026471
Oceania,71.400000,71.200000,71.560000,71.740000,NaN,72.100000,72.210000,72.320000,72.430000,72.540000,72.650000,72.900000,73.150000,73.400000,73.650000,73.900000

In [11]:
life_expect = df.groupby(['region', 'year'])['Healthy life expectancy at birth'].aggregate('mean').unstack()

In [12]:
print(life_expect)

year           2005       2006       2007       2008       2009       2010  \
region
Africa    59.700000  47.149091  48.010476  49.740769  51.669091  52.576000
Americas  66.550000  64.386667  65.096190  64.544545  66.068000  64.642857
Asia      63.371429  63.132308  62.586207  62.742424  63.537838  63.835135
Europe    69.164286  66.280000  66.657600  68.382727  67.831111  68.446875
Oceania   71.400000  71.200000  71.560000  71.740000        NaN  72.100000

year           2011       2012       2013       2014       2015       2016  \
region
Africa    53.174444  54.541935  54.055000  54.698857  54.848485  55.494444
Americas  64.980000  65.286364  65.722609  66.061739  66.614286  66.828571
Asia      63.745854  63.408500  63.836500  64.179487  64.263415  64.708333
Europe    68.469412  68.975676  68.957714  69.243889  69.527027  69.794595
Oceania   72.210000  72.320000  72.430000  72.540000  72.650000  72.900000

year           2017       2018       2019       2020
region
Africa    56.044737  57.156757  57.524324  59.031250
Americas  66.891304  67.335000  68.023810  68.300000
Asia      64.900000  65.268421  65.700000  66.391667
Europe    70.062162  70.255556  70.591667  71.026471
Oceania   73.150000  73.400000  73.650000  73.900000

#### (c) Pivot table for life-expectancy